*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

.header{
   width: 100%;
   height: 200px;
  background: black;
  display: flex;
  align-items: center;
}
.body{
   width: 100%;
   height: 589px;
   background: gray;
}
.wrap{
   width: 1200px;
    margin: 0 auto;
    position: relative;
    
}
.logo{
   width: 800px;
   height: 130px;
   background: white;
   margin: 0 auto;
   margin-top: 40px;
   
}
/*---- 바디 영역 ----*/
.menuWrap{
   width: 100%;
   height: 589px;
   background: #333;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 130px;
}
.menuBox{
   width: 100px;
   height: 50px;
   background: #000000;
   margin: 0 10px;

}