*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

.header{
   width: 100%;
   height: 70px;
  background: black;
  display: flex;
  align-items: center;
  position: relative;
}
.body{
   width: 100%;
   height: 589px;
   background: gray;
}
.logo{
   width: 115px;
   height: 50px;
   background: white;
   margin-left: 193px; 
}
.menu{
   width: 500px;
   height: 50px;
   background: #8b3333;
   right: 100px;
   position: absolute;
   
   
}
.menu ul{
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;

   
}
.menu ul li{
   margin: 0 10px;
   color: white;
   font-weight: bold;
   cursor: pointer;
   padding: 10px 20px;
}
.menu ul li a{
   text-decoration: none;
   color: white;
  
}
/*---- 바디 영역 ----*/
.mainBox{
   width: 100%;
   height: 500px;
   background: #333;
}
.mainBox2{
   width: 100%;
   height: 1000px;
   background: #666;
}
.mainWrap{
   width: 100%;
   height: 100%;
   background: #999;
   margin: 0 auto;
}
.content{
   width: 80%;
   height: 100%;
   background: #ccc;
   margin: 0 auto;
   display: flex;
   background: #c8edfd;
}
.main1{
   width: 110%;
   height: 100%;
   border: 1px solid black;
  
}
.main2{
   width: 90%;
   height: 100%;
   
 
}
.main2 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.main1_1{
   border: 1px solid white;
   width: 100%;
   margin-top: 50px;
   height: 170px;
   color: #bbb;
}
.main1_2{
   border: 1px solid rgb(144, 42, 42);
   width: 100%;
   
   height: 100px;
    color: #bbb;
}
.main1_3{
   border: 1px solid rgb(11, 11, 11);
   width: 100%;
   margin-top: 10px;
   height: 70px;
    color: #bbb;
   display: flex;
   justify-content: center;
}
.mainButton1{
   width: 40%;
   height: 50px;
   margin: 10px;
   background: rgb(85, 85, 85);
   border: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
.mainButton2{
   width: 40%;
   height: 50px;
   margin: 10px;
   background: rgb(85, 85, 85);
   border: none;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
.mainBox2_1{
   margin-top: 60px;
   height: 130px;
   border: 1px solid #c8edfd;
}
.mainBox2_2{
 height: 380px;
 border: 1px solid black;
}
.mainBox2_3{
 height: 270px;
 border: 1px solid black;
}